@import '../../../assets/sass/import/variables';

@keyframes jump {
  0% {
    margin-top: 6px;
  }
  50% {
    margin-top: -6px;
  }
  100% {
    margin-top: 6px;
  }
}

.btn {
  background-size: 2px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 1;
  outline: none;
  padding: 9px 20px 7px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  box-shadow: none;
  
  @media (min-width: map-get($grid-breakpoints, md)) {
    padding: 9px 30px 7px;
  }

  &-sm {
    font-size: 12px;
    padding: 6px 30px 5px;
  }

  &-lg {
    padding: 14px 30px 13px;

    @media (min-width: map-get($grid-breakpoints, lg)) {
      padding: 12px 50px 12px;
    }
  }
  
  &-xl {
    border-radius: 25px;
    padding: 12px 35px 12px;

    @media (min-width: map-get($grid-breakpoints, lg)) {
      padding: 16px 70px 16px;
    }
  }
  
  &-white {
    color: $primary;
    &:hover,
    &:active {
      background: $orange-base;
      color: $white;
    }
  }
  
  &-green {
    background-color: $green-base;
    color: $white;
    &:hover,
    &:active {
      background: darken($green-base, 5%);
      color: $white;
    }
  }

  &-orange {
    background: linear-gradient(81deg, $orange-dark, $orange-base);    
    color: $white;
    overflow: hidden;
    position: relative;
    z-index: 1;
    &:before,
    &:after {
      background: linear-gradient(81deg, $orange-base, $orange-dark); 
      bottom: 0;
      content: '';
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: all .5s ease;
      z-index: -1;
    }
    &:hover,
    &:active {
      color: $white;
      &:before {
        opacity: 1;
      }
    }
  }

  &-outline-orange,
  &-outline-white {
    border-width: 2px;
    &.btn-lg {
      display: block;
      @media (min-width: map-get($grid-breakpoints, md)) {
        display: inline-block;
        padding: 10px 50px 10px;
      }
    }
  }

  &-outline-orange {
    color: $orange-base;
    border-color: $orange-base;
    &:hover,
    &:focus,
    &:active {
      color: $white;
      background: $orange-base;
    }
  }

  &-outline-yellow {
    color: $white;
    border-color: $yellow-base;
    &:hover,
    &:focus,
    &:active {
      color: $orange-base;
      background: $yellow-base;
    }
  }

  &-outline-white {
    &:hover,
    &:focus,
    &:active {
      color: $primary;
    }
  }

  &-white,
  &-orange,
  &-outline-white,
  &-outline-orange {
    font-size: 13px;
  }

  &-white,
  &-orange {
    border: 0;
  }

  &.loading {
    animation: jump 1s 1.3s ease-out infinite;
    color: transparent;
    height: 10px;
    margin: auto;
    overflow: initial;
    padding: 0;
    width: 10px;
    &:before,
    &:after {
      border-radius: 5px;
      content: '';
      height: 10px;
      margin-top: 0;
      opacity: 1;
      width: 10px;
    }
    &:before {
      animation: jump 1s 1.5s ease-out infinite;
      left: -13px;
    }
    &:after {
      animation: jump 1s 1s ease-out infinite;
      left: 13px;
    }
  }

  &:focus{
    box-shadow: none;
  }

  &--landing-main{
    @media (max-width: map-get($grid-breakpoints, lg)) {
      border-radius: 0px !important;
      width: 100% !important;
      float: none;
      margin: 0px;
    }
  }
}
