.link-arrow-right{
  &:after{
    content: '›';
    display: inline-block;
    color: inherit;
    margin-left: 5px;
  }
}

.link-arrow-left{
  &:before{
    content: '›';
    display: inline-block;
    color: inherit;
    margin-right: 5px;
  }
}