@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i');

@import 'variables';

body {
  color: map-get($grays, base );
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: 0.3px;
}

b, strong {
  font-weight: 700;
}

a,
button {
  &:hover {
    text-decoration: none;
  }
}

.caption {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.2px;
}

h2,
h3,
h4,
h5 {
  letter-spacing: 0.3px;
}

h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h2 {
  font-size: 60px;
  line-height: 1.1;
}

h3 {
  font-size: 42px;
  line-height: 1.19;
  margin-bottom: 20px;
}

h4 {
  font-size: 30px;
  line-height: 1;
  margin-bottom: 16px;
  margin-top: 35px;
}

h5 {
  font-size: 24px;
  line-height: 1.17;
}