// Map colors
$green-base:  #8DC63F !default;
$green-light:   lighten(#8DC63F, 10%) !default;
$green-dark:    darken(#8DC63F, 10%) !default;
$green-left:  #DEE021 !default;
$green-right: #A4D264 !default;  

$greens: () !default;
$greens: map-merge((
  "base":  $green-base,
  "light": $green-light,
  "dark":  $green-dark,
), $greens);

$orange-base:  #FF8700 !default;
$orange-light:   lighten(#FF8700, 10%) !default;
$orange-dark:    #FF500F !default;

$oranges: () !default;
$oranges: map-merge((
  "base":  $orange-base,
  "light": $orange-light,
  "dark":  $orange-dark,
), $oranges);

$red-base:  #FF2A44 !default;
$red-light:   lighten(#FF2A44, 10%) !default;
$red-dark:    darken(#FF2A44, 10%) !default;

$yellow-base:  #FCEE21 !default;
$yellow-light:   lighten(#FCEE21, 10%) !default;
$yellow-dark:    darken(#FCEE21, 10%) !default;

$reds: () !default;
$reds: map-merge((
  "base":  $red-base,
  "light": $red-light,
  "dark":  $red-dark,
), $reds);


// stylelint-disable
$white:         #fff !default;
$gray-100:      #F5F5F5 !default;
$gray-200:      #e7e7e7 !default;
$gray-300:      #dee2e6 !default;
$gray-400:      #ced4da !default;
$gray-500:      #9d9d9d !default;
$gray-600:      #6c757d !default;
$gray-700:      #495057 !default;
$gray-800:      #343a40 !default;
$gray-900:      #212529 !default;
$gray-base:     #58595b !default;
$gray-light:    #747684 !default;
$gray-dark:     #292929 !default;
$black:         #000 !default;
$black-opacity: rgba(0, 0, 0, 0.6) !default;

$grays: () !default;
$grays: map-merge((
  "100":    $gray-100,
  "200":    $gray-200,
  "300":    $gray-300,
  "400":    $gray-400,
  "500":    $gray-500,
  "600":    $gray-600,
  "700":    $gray-700,
  "800":    $gray-800,
  "900":    $gray-900,
  "base":   $gray-base,
  "light":  $gray-light,
  "dark":   $gray-dark
), $grays);

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  map-get($oranges, base);
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$colors: ();
$colors: map-merge((
  "green":  $greens,
  "orange": $oranges,
  "red":    $reds,
  "gray":   $grays,
  "white":  $white,
  "black":  $black
), $colors);

$primary:       $orange;
$secondary:     $gray-600;
$success:       $green-base;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$theme-colors: ();
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "white":      $white,
  "black":      $black
), $theme-colors);

// Grid
$grid-breakpoints: (
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Map font weights

$font-weights: () !default;
$font-weights: map-merge((
  300: 300,
  400: 400,
  700: 700,
  900: 900
), $font-weights);

// Map font sizes

$font-sizes: () !default;
$font-sizes: map-merge((
  12: 12px,
  13: 13px,
  14: 14px,
  15: 15px,
  16: 16px,
  18: 18px,
  20: 20px,
  24: 24px,
  30: 30px,
  32: 32px,
  42: 42px,
  60: 60px,
  84: 84px
), $font-sizes);


// Buttons
//
// Style anchor elements.

$btn-line-height:       1.73;
$btn-border-width:      1px;
$btn-border-radius-sm:  13px;
$btn-border-radius:     15px;
$btn-border-radius-lg:  50px;

// Font-sizes
//
// Style anchor elements.

$font-size-base: 11px;


// Links
//
// Style anchor elements.

$link-color:                $orange;
$link-decoration:           none;
$link-hover-color:          darken($link-color, 15%);
$link-hover-decoration:     none;

// Risk colors

$risk-safe:      #8dc63f;
$risk-regular:   #ffd500;
$risk-alert:     #ff2a44;
$risk-dangerous: #ae0217;