body {
  padding: 0 2vw;
  background-color: #fcf8ef;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.7em;
  overflow-x: hidden;
}

.container {
  display: flex;
  margin: 20px;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.container h1 {
  text-align: center;
  color: #9999FF;
  font-size: 48px;
  width: 100%;
}

.container img {
  align-self: center;
}