@import './import/bootstrap';
@import './import/mixins';
@import './import/boxed';
@import './import/buttons';
@import './import/colors';
@import './import/fonts';
@import './import/lists';
@import './import/media';
@import './import/paragraphs';
@import './import/sidebar';
@import './import/links';
@import './import/form';

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.sticky {
  position: -webkit-sticky;  // required for Safari
  position: sticky;
  top: 0; // required as well.
  padding-top: 100px;
  margin-top: -60px;
}

.tongue-inv {
  content: ' ';
  background-image: url("../../assets/images/svg/tongue-inv.svg");
  position: absolute;
  display: block;
  width: 100%;
  height: 54px;
  margin-bottom: -54px;
  background-repeat: no-repeat;
  background-position: center;
  
  &::before,
  &::after {
    content: ' ';
    position: absolute;
    background-color: white;
    height: 53px;
  }
  &::before {
    right: 50%;
    left: 0;
    margin-right: 108px;
  }
  &::after {
    right: 0;
    left: 50%;
    margin-left: 107px;
  }
}

.dot::before{
  content: "•";
  margin-right: 10px;
}